body{
    background-image: url("mar.jpg");
    display: flex;
    align-items: center;
    flex-direction: column;
}
   
input, button{
    border-radius: 8px;
    background: transparent;
    width: 60%;
}
